<% provide(:title, 'About the Sport') %>

<div class="row">
  <div class="small-12 large-12 columns">
    <h1>About the Sport</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 large-8 columns">

    <h3>What is Slacklining?</h3>
    <p>Slacklining is a balancing sport consisting of a special rope/webbing attached between to two sturdy objects (usually trees) 20-50 feet apart. Rope walking, in all its forms, has been around for a countless number of years. However, the emergence of authentic slacklining began in the early 1980’s in California and is generally attributed to a couple of rock climbers who created the sport. The exact origin is unknown, but what began as “something to do” in between rock-climbing sessions grew into its own sport. Soon enough the slacklining bandwagon began. Many think slacklining is synonymous with tight rope walking, however, in the sport of slacklining the rope/webbing is not as taut as in tight-roping. Instead, the tautness of the webbing is variable and the control is all under the hands of the slackliners. Usually, slacklines are very dynamic almost similar to a trampoline and the webbing is flat which prevents the foot from rolling off of the webbing during usage. There are a wide variety of types of slacklining ranging from waterlining, urbanlining, tricklining, highlining all the way to yogalining. The difference between these types of slacklining is attributed to the area (environment)  in which the slackline is set up in, the thickness of the webbing used which affects the stretch and bounce of the slackline, and the tautness of the slacklining set up based on the tensioning system and the desired set up. The webbing is tightened using one of many tensioning systems via 3-6 carabiners. Adrenaline Slacklines sells kits with 4 carabiners, three for the tensioning system and one for one of the two anchors. See media tab for an in-depth explanation of set up.</p>

    <h3>How do You Properly Setup a Slackline?</h3>
    <p>There are a wide variety of methods to use when setting up a slackline. The system that Adrenaline Slacklines endorses, is via four carabiners. Three carabiners for the tensioning system and one for the anchor. See the Download Instruction Manual Here for diagrams and charts with detailed explanations.</p>

    <h3>Where Are the Best Locations to Setup My Slackline?</h3>
    <p>Depending on the equipment you have the optimum locations for slackline setup varies. You can set up a highline (in between two peaks for example), a waterline (over water), a trickline, and also a yogaline etc. If you decide to anchor between two trees please protect the tree by putting cardboard or something more durable in between the webbing and the tree. The basic Adrenaline Slackline kit will entail 70 feet of premium Adrenaline webbing (includes two 10 foot anchors which are used to station the slackline), four 100% steel non-locking black carabiners, and a black drawstring carry-pack with an Adrenaline logo on the back. E-mail us or visit the website if you have more questions.</p>
  </div>

  <div class="small-12 large-4 columns">
    <h4>Get Started</h4>

    <div class="small-12 columns product-image">
      <img src="http://d1bjc4ympi20vo.cloudfront.net/beginner-kit-clear.jpg" alt="Adrenaline Begginner Kit">
    </div>

    <div class="small-12 columns item-details">
      <%= link_to "Beginner Slacklining Kit", "#", class: "store-link" %>
      <h4 class="product-description"> Line, Anchors, Carabiners, & Bag</h4>
      <h3 class="price">$77.50</h3>
      <%= link_to "Buy Now", "#", class: "buy-now" %>
    </div>

    <div class="small-12 columns product-image">
      <img src="http://d1bjc4ympi20vo.cloudfront.net/as-carabiner-clear.jpg" alt="Black Aluminum Carabiner">
    </div>
    <div class="small-12 columns item-details bottom-column">
      <%= link_to "Black Aluminum Carabiner", "#", class: "store-link" %>
      <h4 class="product-description">Cold forged & economically priced</h4>
      <h3 class="price">$10.00</h3>
      <%= link_to "Buy Now", "#", class: "buy-now" %>
    </div>

    <div class="small-12 columns product-image">
      <img src="http://d1bjc4ympi20vo.cloudfront.net/oring-clear.jpg" alt="Fusion O-Ring">
    </div>
    <div class="small-12 columns item-details bottom-column">
      <%= link_to "Fusion 1″ O-Ring", "#", class: "store-link" %>
      <h4 class="product-description">Solid Forged Aluminum Ring by Fusion</h4>
      <h3 class="price">$5.00</h3>
      <%= link_to "Buy Now", "#", class: "buy-now" %>
    </div>
  </div>
</div>


