<% provide(:title, 'Home') %>

<div class="hero-container">
  <div class="row">
    <div class="hero-text">
      <h1>Defy Gravity</h1>
      <p>Discover top of the line slacklining gear.</p>
    </div>
    <div class="clear">
      <%= link_to "Shop now", "#", class: "blue-button"  %>
    </div>
  </div>
</div>

<div class="full-width-row row carousel">
  <div class="small-3 large-2 columns adjacent-column">
    <div class="overlay">
      <img class="banner-img" src="http://d1bjc4ympi20vo.cloudfront.net/athletes.large.jpg" alt="Atletes">
      <span>Athletes</span>
    </div>
  </div>
  <div class="small-3 large-2 columns adjacent-column">
    <div class="overlay">
      <img class="banner-img" src="http://d1bjc4ympi20vo.cloudfront.net/setup.large.jpg" alt="Setup">
      <span>Setup Guide</span>
    </div>
  </div>
  <div class="small-3 large-2 columns adjacent-column">
    <div class="overlay">
      <img class="banner-img" src="http://d1bjc4ympi20vo.cloudfront.net/tee.large.jpg" alt="Tees">
      <span>Men's Tee</span>
    </div>
  </div>
  <div class="small-3 large-2 columns adjacent-column">
    <div class="overlay">
      <img class="banner-img" src="http://d1bjc4ympi20vo.cloudfront.net/lines.large.jpg" alt="One Inch Lines">
      <span>Premier 1" Lines</span>
    </div>
  </div>
  <div class="small-3 large-2 columns adjacent-column">
    <div class="overlay">
      <img class="banner-img" src="http://d1bjc4ympi20vo.cloudfront.net/events.large.jpg" alt="Events">
      <span>Events</span>
    </div>
  </div>
  <div class="small-3 large-2 columns adjacent-column">
    <div class="overlay">
      <img class="banner-img" src="http://d1bjc4ympi20vo.cloudfront.net/beach.large.jpg" alt="Beach">
      <span>Athletes</span>
    </div>
  </div>
</div>

<div class="full-width-row grey-row row">

  <div class="small-12 large-2 columns">
    <img src="http://d1bjc4ympi20vo.cloudfront.net/beginner-kit.jpg" alt="Adrenaline Begginner Kit">
  </div>

  <div class="small-12 large-2 columns">
    <%= link_to "Beginner Slacklining Kit", "#", class: "store-link" %>
    <h4 class="product-description"> Line, Anchors, Carabiners, & Bag</h4>
    <h3 class="price">$77.50</h3>
    <%= link_to "Buy Now", "#", class: "buy-now" %>
  </div>

  <div class="small-12 large-2 columns">
    <img src="http://d1bjc4ympi20vo.cloudfront.net/as-carabiner.jpg" alt="Adrenaline Begginner Kit">
  </div>
  <div class="small-12 large-2 columns">
    <%= link_to "Black Aluminum Carabiner", "#", class: "store-link" %>
    <h4 class="product-description">Cold forged & economically priced</h4>
    <h3 class="price">$10.00</h3>
    <%= link_to "Buy Now", "#", class: "buy-now" %>
  </div>

  <div class="small-12 large-2 columns">
    <img src="http://d1bjc4ympi20vo.cloudfront.net/oring.jpg" alt="Adrenaline Begginner Kit">
  </div>
  <div class="small-12 large-2 columns">
    <%= link_to "Fusion 1″ O-Ring", "#", class: "store-link" %>
    <h4 class="product-description">Solid Forged Aluminum Ring by Fusion</h4>
    <h3 class="price">$5.00</h3>
    <%= link_to "Buy Now", "#", class: "buy-now" %>
  </div>
</div>

<div class="full-width-row row news-container">
  <div class="small-12 large-8 columns adjacent-column ">
    <div class="overlay">
      <img class="news-img" src="http://d1bjc4ympi20vo.cloudfront.net/slack_at_berkeley.jpg" alt="Slacklining at Berkeley">
    </div>
    <div class="news-text">
      <%= link_to ">", "#", class: "play" %>
      <h2>Slacklining at UC Berkeley</h2>
      <p>View Pictures</p>
    </div>
  </div>

  <div class="small-12 large-4 columns adjacent-column news">
    <h2>Latest News</h2>

    <div class="article">
      <h3>9/2013</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ipsum, eius, molestias veniam expedita doloribus iure odit excepturi.</p>
    </div>

    <div class="article">
      <h3>9/2013</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ipsum, eius, molestias veniam expedita doloribus iure odit excepturi.</p>
    </div>

<!--     <div class="article">
      <h3>9/2013</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, ipsum, eius, molestias veniam expedita doloribus iure odit excepturi.</p>
    </div> -->

    <%= link_to "View All", "#", class: "red-button news-button" %>
  </div>

</div>

<div class="full-width-row row footer-top">
  <ul>
    <li>About</li>
    <li>Shop</li>
    <li>Connect</li>
    <li>Help</li>
  </ul>
</div>

<div class="full-width-row row footer-main">
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Media", "#" %></li>
    <li><%= link_to "Disclaimer", disclaimer_path %></li>
    <li><%= link_to "Contact", "#" %></li>
  </ul>

  <ul>
    <li><%= link_to "Kits", "#" %></li>
    <li><%= link_to "Products", "#" %></li>
  </ul>

  <ul>
    <li><%= link_to "Facebook", "https://www.facebook.com/adrenalineslacklines" %></li>
    <li><%= link_to "Twitter", "https://twitter.com/slacklines" %></li>
    <li><%= link_to "YouTube", "http://www.youtube.com/AdrenalineSlackline" %></li>
  </ul>

  <ul>
    <li><%= link_to "Athletes", athletes_path %></li>
    <li><%= link_to "About the Sport", about_sport_path %></li>
    <li><%= link_to "Support", "#" %></li>
    <li><%= link_to "FAQ", "#" %></li>
  </ul>
</div>


